// primary colors
$clr-primary-blue: #2C5EF6;
$clr-primary-navy: #394873;
$clr-primary-violet: #BD69FF;
$clr-primary-orange: #FFAE73;
$clr-primary-light-blue: #DFE7FE;
$clr-primary-disabled: #D1D1D1;

// typography colors
$clr-typo-titles: #171717;
$clr-typo-titles__h2: #333333;
$clr-typo-description: #505050;
$clr-typo-hints: #DADAE2;


//notification colors
$clr-notify-success: #1FD151;
$clr-notify-alert: #E84141;
$clr-notify-warning: #F39958;
